@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-poppins text-black-text;
    }
}

  .section__spacing-y {
    @apply py-20;
  }
  
  .content__center {
    @apply container mx-auto;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .mobile-nav {
    transform: translate(0%) !important;
  }
  
  .postion-unset {
    position: unset;
  }